<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dispatcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HomeworkC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HomeworkObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ObjCTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TENDispatcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C49344E1B25998800353938</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CD2B3E11AEE1DB60030516B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761989C11B1CF53400BCB475</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761989F01B1D022400BCB475</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>769DFBD71AD6895600D0919A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76F255A81A8E2B9200135F2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
